{template "header.html"}

<div class="note note-danger">
    {if IS_EDIT_TPL}
    <p style="color: red;padding-top: 5px;">{dr_lang('目前已开启可编辑文件权限和编辑代码权限，此权限风险极高，建议尽快在index.php中关闭IS_EDIT_TPL参数')}</p>
    {else}
    <p style="color: green;padding-top: 5px;">{dr_lang('目前没有开启可编辑文件权限和编辑代码权限，不能编辑模板代码编辑框中的内容，需要在index.php中开启IS_EDIT_TPL参数')}</p>
    {/if}
</div>

<form action="" class="form-horizontal" method="post" name="myform" id="myform">
    {dr_form_hidden()}
    <div class="portlet bordered light myfbody">
        <div class="portlet-title tabbable-line">
            <ul class="nav nav-tabs" style="float:left;">
                <li class="{if $page==0}active{/if}">
                    <a href="#tab_0" data-toggle="tab" onclick="$('#dr_page').val('0')"> <i class="{dr_icon($module.icon)}"></i> {$module.name} - {dr_lang('内容页接口')} </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">


                <div class="tab-pane {if 0 == $page}active{/if}" id="tab_0">
                    <div class="form-body">


                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top:5px;">测试内容</label>
                            <div class="col-md-9">

                                <div class="input-group" style="width: 300px">
                                    <input type="text" id="show_id" class="form-control">
                                    <span class="input-group-btn">
                                                        <button class="btn blue"  onclick="dr_add_content();" type="button"> <i class="fa fa-code"></i> 选择内容 </a> </button>
                                                    </span>
                                </div>

                                <p class="help-block">选择任意一个内容作为测试标准</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="padding-top:5px;">输出字段</label>
                            <div class="col-md-9">
                                <table class="table table-striped table-bordered table-hover table-checkable dataTable">
                                    <thead>
                                    <tr class="heading">
                                        <th class="myselect">
                                            {dr_lang('显示')}
                                        </th>
                                        <th width="180"> 字段 </th>
                                        <th width="150"> 类型 </th>
                                        <th> 格式化函数 </th>
                                    </tr>
                                    </thead>
                                    <tbody class="field-sort-items">
                                    {loop $field_data $n $t}
                                    <tr class="odd gradeX">
                                        <td class="myselect">
                                            <label class="mt-table mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes" name="data[field][{$n}][use]" value="1" {if $data['field'][$n]['use']} checked{/if} />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>{dr_lang($t.name)} ({$n})</td>
                                        <td>{if $t.type} {$t.type} {else} 文本{/if}</td>
                                       <td> <div class="input-group" >
                                            <input class="form-control" type="text" name="data[field][{$n}][func]" value="{htmlspecialchars((string)$data['field'][$n]['func'])}" />
                                           <span class="input-group-btn">
                                            <a class="btn btn-success" href="javascript:dr_call_func();">{dr_lang('函数')}</a>
                                        </span>
                                        </div></td>
                                    </tr>
                                    {/loop}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('统计访客')}</label>
                            <div class="col-md-9">
                                <input type="checkbox" name="data[hits]" value="1" {if $data['hits']}checked{/if} data-on-text="{dr_lang('已开启')}" data-off-text="{dr_lang('已关闭')}" data-on-color="success" data-off-color="danger" class="make-switch" data-size="small">

                                <span class="help-block"> {dr_lang('请求内容api时进行阅读量累计一次')} </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('回调方法')}</label>
                            <div class="col-md-9">
                                <label><input class="form-control input-large" id="dr_call" type="text" name="data[call]" value="{$data.call}"> </label>
                                <label><a class="btn btn-sm blue" href="javascript:dr_test_call();"> 检测 </a></label>
                                <span class="help-block"> <a href="javascript:dr_help('1054');"> {dr_lang('此功能需要有PHP编程经验，了解回调方法的定义')}</a> </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">{dr_lang('附加自定义模板代码')}</label>
                            <div class="col-md-9">
                                <textarea {if !IS_EDIT_TPL} readonly{/if}  class="form-control" style="height:{php echo 160+count(explode(PHP_EOL, (string)$data.code))*15;}px; width:100%;" name="data[code]">{$data.code}</textarea>
                                <span class="help-block"> <a href="javascript:dr_help('1116');"> {dr_lang('代码语法')}</a> </span>
                                <span class="help-block">{dr_lang('可以任意写模板标签，根据格式来返回数据到API')}</span>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="portlet-body form myfooter">
        <div class="form-actions text-center">
            <button type="button" onclick="dr_ajax_submit('{dr_now_url()}&page='+$('#dr_page').val(), 'myform', '2000')" class="btn green"> <i class="fa fa-save"></i> {dr_lang('保存配置')}</button>
            <label><a href="javascript:dr_http_test();" class="btn  blue"> <i class="fa fa-code"></i> {dr_lang('接口测试')}</a></label>

        </div>
    </div>
</form>

<script>
    function dr_test_call() {
        $.ajax({type: "GET",dataType:"json", url: "{dr_url('httpapi/http/call_index')}&name="+$('#dr_call').val(),
            success: function(json) {
                dr_cmf_tips(json.code, json.msg);
            },
            error: function(HttpRequest, ajaxOptions, thrownError) {
                dr_ajax_alert_error(HttpRequest, this, thrownError);
            }
        });
    }
    function dr_call_func() {
        dr_iframe_show('回调函数', "{dr_url(APP_DIR.'/module/func_index')}");
    }
    function dr_http_test() {
        var cid = $("#show_id").val();
        if (!cid) {
            dr_tips(0, '测试内容没有选择')
            return;
        }
        var url = "{dr_url(APP_DIR.'/module/test_show_edit', ['dir'=>$module.dirname])}&id="+cid;
        dr_iframe_show('接口测试', url);
    }
    function dr_add_content() {

        var url = "/index.php?s=module&c=api&m=related&site={SITE_ID}&name=test&module={$module.dirname}&is_ajax=1";
        layer.open({
            type: 2,
            title: '<i class="fa fa-cog"></i> 选择内容测试',
            fix:true,
            shadeClose: true,
            shade: 0,
            area: [{php echo \Phpcmf\Service::IS_PC_USER() ? '\'50%\', \'60%\'' : '"95%", "90%"'}],
            btn: ["确定"],
            success: function (json) {
                if (json.code == 0) {
                    layer.close();
                    dr_tips(json.code, json.msg);
                }
            },
            yes: function(index, layero){
                // 延迟加载
                var body = layer.getChildFrame('body', index);
                // 延迟加载
                var loading = layer.load(2, {
                    time: 10000
                });
                $.ajax({type: "POST",dataType:"json", url: url, data: $(body).find('#myform').serialize(),
                    success: function(json) {
                        layer.close(loading);
                        if (json.code == 1) {
                            layer.close(index);
                            for(var i in json.data.ids){
                                var v = json.data.ids[i];
                                $("#show_id").val(v);
                                return false
                            }
                        }
                        dr_tips(1, json.msg);
                        return false;
                    }
                });

                return false;
            },
         content: url
        });

    }
</script>



{template "footer.html"}